name: Terraform Apply

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment (e.g., hyderabad, dev, prod)"
        required: true
        type: string
      program:
        description: "Program or domain (e.g., internal)"
        required: true
        type: string
      aws_region:
        description: "AWS region"
        required: true
        default: "us-east-1"
        type: string
      confirm:
        description: "Type EXACTLY: apply"
        required: true
        type: string

permissions:
  id-token: write
  contents: read

env:
  TF_INPUT: "false"
  TF_IN_AUTOMATION: "true"
  TF_CLI_ARGS: "-no-color"

jobs:
  apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.confirm == 'apply' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::436812234045:role/OIDC
          aws-region: ${{ github.event.inputs.aws_region }}
          role-session-name: GitHubOIDCTerraformApply

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: |
          terraform plan \
            -var "account_id=436812234045" \
            -var "environment=${{ github.event.inputs.environment }}" \
            -var "program=${{ github.event.inputs.program }}" \
            -var "region=${{ github.event.inputs.aws_region }}"

      # - name: Terraform Apply
      #   run: |
      #     terraform apply -auto-approve \
      #       -var "account_id=436812234045" \
      #       -var "environment=${{ github.event.inputs.environment }}" \
      #       -var "program=${{ github.event.inputs.program }}" \
      #       -var "region=${{ github.event.inputs.aws_region }}"

      
      - name: Terraform Destroy
        run: |
          terraform destroy -auto-approve \
            -var "account_id=436812234045" \
            -var "environment=${{ github.event.inputs.environment }}" \
            -var "program=${{ github.event.inputs.program }}" \
            -var "region=${{ github.event.inputs.aws_region }}"

